# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Build or log files
dist/
build/
logs/
*.log

# IDE/editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.swp